<div class="row">
  <div class="column">
    <p><%= link "← go back", to: "/" %></p>
    <h2>Prime Factor Results</h2>

    <!-- <p>x = <%= @x %></p>
    <p>2 * x = <%= @y %></p> -->
    <p>The prime factors for <%= @x %> is <%= inspect(@y) %></p>
  </div>
</div>
